/* ======== Header - Mobile ======== */
/* layout class for header */
.l-header {
  display: flex;
  justify-content: space-between;
}

/* component class for navigation */
.c-nav {
  display: none;
}

/* element class for list in navigation component */
.c-nav__list {
  display: flex;
  list-style: none;
}

.u-link--none-underline {
  text-decoration: none;
}

.is-active {
  color: pink;
}

/* ======== Sidebar - Mobile ======== */
/* layout class for sidebar */
.l-sidebar {
  display: none;
}

/* element class for section in sidebar component */
.c-sidebar__section {}

/* element class for section in title utilities */
.u-section__title--primary {
  color: var(--clr-primary);
}

.u-section__title--secondary {
  color: var(--clr-secondary);
}

.u-section__title--accent {
  color: var(--clr-accent);
}

.u-section__title--light {
  color: var(--clr-light);
}

.u-section__title--white {
  color: var(--clr-white);
}

/* element class for list in section component */
.c-section__list {}

/* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* ======== Header - Desktop ======== */
  .c-nav {
    display: block;
  }

  .c-toggle__icon {
    display: none;
  }

  .u-link--none-underline:hover {
    color: #ff6347;
  }

  /* ======== Sidebar - Desktop ======== */
  .l-sidebar {
    display: block;
  }

}