/* Root color definitions */
:root {
  /* primary, secondary, and accent colors */
  --clr-primary-text: #404040;
  --clr-primary-bg: #F5F5F5;
  --clr-accent: #941600;
  --clr-secondary-bg: #FFFFFF;
  --clr-secondary-text: #2C6330;
  --clr-additional-accent: #13575D;

  /* Font families */
  --font-family-heading: 'Playfair Display', serif;
  --font-family-body: 'Roboto', sans-serif;

  /* Font sizes */
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-body: 16px;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Letter spacings */
  --letter-spacing-heading: 2px;
  --letter-spacing-body: 1px;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/* Utility Classes for Font Family */
.u-font-family-heading {
  font-family: var(--font-family-heading);
}

.u-font-family-body {
  font-family: var(--font-family-body);
}

/* Utility Classes for Font Size */
.u-font-size-h1 {
  font-size: var(--font-size-h1);
}

.u-font-size-h2 {
  font-size: var(--font-size-h2);
}

.u-font-size-h3 {
  font-size: var(--font-size-h3);
}

.u-font-size-body {
  font-size: var(--font-size-body);
}

/* Utility Classes for Font Weight */
.u-font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.u-font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.u-font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.u-font-weight-regular {
  font-weight: var(--font-weight-regular);
}

/* Utility Classes for Colors */
.u-bg-primary {
  background-color: var(--clr-primary-bg);
}

.u-bg-secondary {
  background-color: var(--clr-secondary-bg);
}

.u-text-primary {
  color: var(--clr-primary-text);
}

.u-text-secondary {
  color: var(--clr-secondary-text);
}

.u-accent {
  background-color: var(--clr-accent);
}

.u-additional-accent {
  background-color: var(--clr-additional-accent);
}

.u-text-accent {
  color: var(--clr-accent);
}

.u-text-additional-accent {
  color: var(--clr-additional-accent);
}

/* Utility Classes for Letter Spacing */
.u-letter-spacing-heading {
  letter-spacing: var(--letter-spacing-heading);
}

.u-letter-spacing-body {
  letter-spacing: var(--letter-spacing-body);
}

/* Utility class to remove underline from links */
.u-link--none-underline {
  text-decoration: none;
}

/* Utility class for list */
.u-list-style-type-none {
  list-style-type: none;
}

.u-wrap-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Margin */
.l-m-0 {
  margin: 0;
}

.l-m-1 {
  margin: 1rem;
}

/* 16px */
.l-mt-1 {
  margin-top: 1rem;
}

.l-mb-1 {
  margin-bottom: 1rem;
}

.l-ml-1 {
  margin-left: 1rem;
}

.l-mr-1 {
  margin-right: 1rem;
}

.l-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.l-m-1-25 {
  margin: 1.25rem;
}

/* 20px */
.l-mt-1-25 {
  margin-top: 1.25rem;
}

.l-mb-1-25 {
  margin-bottom: 1.25rem;
}

.l-ml-1-25 {
  margin-left: 1.25rem;
}

.l-mr-1-25 {
  margin-right: 1.25rem;
}

.l-mx-1-25 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.l-my-1-25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.l-m-1-5 {
  margin: 1.5rem;
}

/* 24px */
.l-mt-1-5 {
  margin-top: 1.5rem;
}

.l-mb-1-5 {
  margin-bottom: 1.5rem;
}

.l-ml-1-5 {
  margin-left: 1.5rem;
}

.l-mr-1-5 {
  margin-right: 1.5rem;
}

.l-mx-1-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.l-my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.l-m-2 {
  margin: 2rem;
}

/* 32px */
.l-mt-2 {
  margin-top: 2rem;
}

.l-mt-3 {
  margin-top: 3rem;
}

.l-mt-6 {
  margin-top: 6rem;
}

.l-mb-2 {
  margin-bottom: 2rem;
}

.l-ml-2 {
  margin-left: 2rem;
}

.l-mr-2 {
  margin-right: 2rem;
}

.l-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.l-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Padding */
.l-p-05 {
  padding: 0.5rem;
}

.l-p-1 {
  padding: 1rem;
}

/* 16px */
.l-pt-1 {
  padding-top: 1rem;
}

.l-pb-1 {
  padding-bottom: 1rem;
}

.l-pl-1 {
  padding-left: 1rem;
}

.l-pr-1 {
  padding-right: 1rem;
}

.l-px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.l-py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.l-p-1-25 {
  padding: 1.25rem;
}

/* 20px */
.l-pt-1-25 {
  padding-top: 1.25rem;
}

.l-pb-1-25 {
  padding-bottom: 1.25rem;
}

.l-pl-1-25 {
  padding-left: 1.25rem;
}

.l-pr-1-25 {
  padding-right: 1.25rem;
}

.l-px-1-25 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.l-py-1-25 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.l-p-1-5 {
  padding: 1.5rem;
}

/* 24px */
.l-pt-1-5 {
  padding-top: 1.5rem;
}

.l-pb-1-5 {
  padding-bottom: 1.5rem;
}

.l-pl-1-5 {
  padding-left: 1.5rem;
}

.l-pr-1-5 {
  padding-right: 1.5rem;
}

.l-px-1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.l-py-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.l-p-2 {
  padding: 2rem;
}

/* 32px */
.l-pt-2 {
  padding-top: 2rem;
}

.l-pb-2 {
  padding-bottom: 2rem;
}

.l-pl-2 {
  padding-left: 2rem;
}

.l-pr-2 {
  padding-right: 2rem;
}

.l-px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.l-py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Layout Classes */
.l-dispaly-none-for-mobile {
  display: none;
}

.l-dispaly-block-for-mobile {
  display: block;
}

.l-dispaly-none-for-desktop {
  display: block;
}

.l-flex-for-mobile {
  display: flex;
}

.l-flex-on-desktop-hide-on-mobile {
  display: none;
}

/* This class has flex applied on desktop and block adapted on mobile */
.l-flex-or-block {
  display: block;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-row {
  flex-direction: row;
}

.l-justify-center {
  justify-content: center;
}

.l-justify-space-between {
  justify-content: space-between;
}

.l-justify-space-around {
  justify-content: space-around;
}

.l-align-center {
  align-items: center;
}

.l-flex-1 {
  flex: 1;
}

/* Grid Layout Classes */
.l-grid {
  display: grid;
}

.l-grid-on-mobile-hide-on-desktop {
  display: grid;
}

.l-grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.l-grid-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.l-grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.l-grid-gap-1 {
  gap: 1rem;
}

.l-grid-gap-2 {
  gap: 2rem;
}

/* Position Layout Classes */
.l-position-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Table Layout Classes */
.u-table-layout-fixed {
  table-layout: fixed;
}

/* Full-width container class for all screens */
.container-full-width {
  width: 100%;
}

/* Max-width for mobile devices */
.container-max-width {
  max-width: 100%;
}

/* Fixed height container */
.container-for-sidebar {
  min-width: 150px;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-border-1 {
  border: 1px solid black;
}

.page-wrapper {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper-for-about-me {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

/* ======== Header - Mobile ======== */
.c-nav__logo-image-size {
  width: 80px;
  height: 50px;
}

.c-nav__link {
  background-color: #248F76;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
  border-bottom: 0.6px solid #A1AEB7;
}

.c-nav__link:hover {
  background-color: #2fb596;
  color: #fff;
  transform: scale(1.05);
}

/* hamburger menu */
.c-nav__show {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #248F76;
  overflow: hidden;
  width: 100%;
  left: 0;
}

/* ======== Hero - Mobile ======== */
.c-hero {
  background-image: url(images/square.png);
  background-position: center;
  color: #fff;
  height: 200px;
}

/* ======== Products - Mobile ======== */
.c-products__image-size {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.c-products__pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.c-products__pagination--link {
  padding: 8px 16px;
  margin: 0 4px;
  border: 1px solid #ddd;
  color: #000;
  text-decoration: none;
}

.c-products__pagination--link--active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.c-products__pagination--link:hover:not(.active) {
  background-color: #ddd;
}

/* ======== Other Products - Mobile ======== */
.c-carousel {
  position: relative;
  max-width: 100%;
  text-align: center;
  background-color: aliceblue;
  padding: 2rem 0;
}

.c-carousel__track-container {
  overflow: hidden;
}

.c-carousel__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.c-carousel__slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.c-carousel__slide {
  flex: 0 0 100%;
  opacity: 1;
}

.c-carousel__slide img {
  width: 100%;
  vertical-align: middle;
}

/* TODO: fix button position */
.c-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
}

.c-carousel__button--left {
  left: 10px;
}

.c-carousel__button--right {
  right: 10px;
}

.c-carousel ul {
  list-style-type: none;
}

/* ======== CTA - Mobile ======== */
.c-cta {
  text-align: center;
  border: #ddd 1px solid;
  border-radius: 8px;
}

.c-cta__container {
  padding: 1rem;
  text-align: left;
}

.c-cta__container h2 {
  margin: 1rem 0;
}

.c-cta__card-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  margin: 1rem;
}

.c-cta__image--size {
  width: 100%;
  height: 200px;
}

/* ======== Favorite Website - Mobile ======== */
.c-favorite-website {
  margin: auto;
  padding: 40px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.c-favorite-website__content {
  flex: 1;
  margin-right: 30px;
}

.c-favorite-website__content h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 0.5em;
}

.c-favorite-website__content p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1em;
}

.c-favorite-website__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-favorite-website__item {
  margin: 1rem 0;
}

.c-favorite-website__link {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #007bff, #4c9bfd);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.c-favorite-website__link:hover,
.c-favorite-website__link:focus {
  background: linear-gradient(to right, #0056b3, #3a7bd5);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

/* ======== Contact Form section - Mobile ======== */
.c-contact {
  text-align: center;
  margin: 1rem 0;
}

.c-contact__form {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.c-form__group {
  margin-bottom: 20px;
}

.c-form__group input[type="text"],
.c-form__group input[type="email"],
.c-form__group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.c-form__group textarea {
  height: 100px;
}

.c-form__group input[type="submit"] {
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 50%;
  margin: 2rem auto 0 auto;
}

.c-form__group input[type="submit"]:hover {
  background: #0056b3;
}

/* ======== Footer section - Mobile ======== */
.site-footer {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.site-footer__logo {
  max-width: 50%;
  max-height: 50%;
}

.site-footer__icon {
  text-decoration: none;
}

.site-footer__icon--facebook {
  color: #007bff;
}

.site-footer__icon--instagram {
  color: #C13584;
}

.accordion {
  max-width: 600px;
  margin: 1rem auto;
}

.accordion__item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion__button {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  background: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.accordion__button .accordion__icon {
  float: right;
}

.accordion__content {
  padding: 0 15px;
  display: none;
  border-top: 1px solid #ddd;
}

.accordion__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.accordion__list-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.accordion__list-item:last-child {
  border-bottom: none;
}

.accordion__list-item a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.accordion__list-item a:hover,
.accordion__list-item a:focus {
  color: black;
  text-decoration: underline;
}

.accordion__list-item:hover {
  background-color: #f7f7f7;
}

/* Media query for desktop */
@media only screen and (min-width: 1200px) {

  /* Layout Classes */
  .l-dispaly-none-for-desktop {
    display: none;
  }

  .l-dispaly-block-for-desktop {
    display: block;
  }

  .l-flex-for-desktop {
    display: flex;
  }

  .l-flex-on-desktop-hide-on-mobile {
    display: flex;
  }

  .l-justify-space-between {
    justify-content: space-between;
  }

  .l-grid-on-mobile-hide-on-desktop {
    display: none;
  }

  .l-dispaly-none-for-mobile {
    display: block;
  }

  /* Margin */
  .l-m-0 {
    margin: 0;
  }

  .l-m-1 {
    margin: 1rem;
  }

  /* 16px */
  .l-mt-1 {
    margin-top: 1rem;
  }

  .l-mb-1 {
    margin-bottom: 1rem;
  }

  .l-ml-1 {
    margin-left: 1rem;
  }

  .l-mr-1 {
    margin-right: 1rem;
  }

  .l-mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .l-my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .l-m-1-25 {
    margin: 1.25rem;
  }

  /* 20px */
  .l-mt-1-25 {
    margin-top: 1.25rem;
  }

  .l-mb-1-25 {
    margin-bottom: 1.25rem;
  }

  .l-ml-1-25 {
    margin-left: 1.25rem;
  }

  .l-mr-1-25 {
    margin-right: 1.25rem;
  }

  .l-mx-1-25 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .l-my-1-25 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .l-m-1-5 {
    margin: 1.5rem;
  }

  /* 24px */
  .l-mt-1-5 {
    margin-top: 1.5rem;
  }

  .l-mb-1-5 {
    margin-bottom: 1.5rem;
  }

  .l-ml-1-5 {
    margin-left: 1.5rem;
  }

  .l-mr-1-5 {
    margin-right: 1.5rem;
  }

  .l-mx-1-5 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .l-my-1-5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .l-m-2 {
    margin: 2rem;
  }

  /* 32px */
  .l-mt-2 {
    margin-top: 2rem;
  }

  .l-mt-3 {
    margin-top: 3rem;
  }

  .l-mt-6 {
    margin-top: 6rem;
  }

  .l-mb-2 {
    margin-bottom: 2rem;
  }

  .l-ml-2 {
    margin-left: 2rem;
  }

  .l-mr-2 {
    margin-right: 2rem;
  }

  .l-mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .l-my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* Padding */
  .l-p-05 {
    padding: 0.5rem;
  }

  .l-p-1 {
    padding: 1rem;
  }

  /* 16px */
  .l-pt-1 {
    padding-top: 1rem;
  }

  .l-pb-1 {
    padding-bottom: 1rem;
  }

  .l-pl-1 {
    padding-left: 1rem;
  }

  .l-pr-1 {
    padding-right: 1rem;
  }

  .l-px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .l-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .l-p-1-25 {
    padding: 1.25rem;
  }

  /* 20px */
  .l-pt-1-25 {
    padding-top: 1.25rem;
  }

  .l-pb-1-25 {
    padding-bottom: 1.25rem;
  }

  .l-pl-1-25 {
    padding-left: 1.25rem;
  }

  .l-pr-1-25 {
    padding-right: 1.25rem;
  }

  .l-px-1-25 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .l-py-1-25 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .l-p-1-5 {
    padding: 1.5rem;
  }

  /* 24px */
  .l-pt-1-5 {
    padding-top: 1.5rem;
  }

  .l-pb-1-5 {
    padding-bottom: 1.5rem;
  }

  .l-pl-1-5 {
    padding-left: 1.5rem;
  }

  .l-pr-1-5 {
    padding-right: 1.5rem;
  }

  .l-px-1-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .l-py-1-5 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .l-p-2 {
    padding: 2rem;
  }

  /* 32px */
  .l-pt-2 {
    padding-top: 2rem;
  }

  .l-pb-2 {
    padding-bottom: 2rem;
  }

  .l-pl-2 {
    padding-left: 2rem;
  }

  .l-pr-2 {
    padding-right: 2rem;
  }

  .l-px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .l-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* Utility Classes for Margin */
  .u-margin-1 {
    margin: 1rem;
  }

  .u-margin-4 {
    margin: 4rem;
  }

  /* Utility Classes for Padding */
  .u-padding-1 {
    padding: 1rem;
  }

  .u-padding-4 {
    padding: 4rem;
  }

  /* This class has flex applied on desktop and block adapted on mobile */
  .l-flex-or-block {
    display: flex;
  }

  .center-block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* ======== Header - Desktop ======== */
  /* hamburger menu */
  .c-nav__toggle {
    display: none;
  }

  /* ======== Hero - Desktop ======== */
  .c-hero {
    background-image: url(images/square.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
  }

  /* Position Layout Classes */
  .l-position-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* ======== Products - Desktop ======== */
  .c-products__image-size {
    width: 80%;
    height: 200px;
  }

  .c-card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .c-card__image {
    width: 100%;
  }

  .c-card__content {
    padding: 1rem;
  }

  .c-card__title {
    margin: 0;
    font-size: 1.5rem;
  }

  .c-card__text {
    margin-top: 0.5rem;
  }

  .c-carousel__button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
  }

  /* ======== Other Products - Desktop ======== */
  .c-custom-carousel {
    position: relative;
    max-width: 100%;
    text-align: center;
    background-color: aliceblue;
    padding: 3rem 0;
  }

  .c-carousel__track-wrapper {
    overflow: hidden;
  }

  .c-carousel__list {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .c-carousel__element {
    flex: 0 0 25%;
  }

  .c-carousel__element img {
    width: 100%;
    vertical-align: middle;
  }

  .c-carousel__control {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
  }

  .c-carousel__control-left {
    left: 10px;
  }

  .c-carousel__control-right {
    right: 10px;
  }

  .c-carousel__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* ======== CTA - Desktop ======== */
  /* TODO: Fix image size */
  .c-cta__image--size {
    width: 100%;
    height: 200px;
  }

  .c-cta__container {
    padding: 0rem;
    text-align: left;
  }

  .c-cta__content {
    padding: 1rem;
  }

  .c-cta__content h2 {
    margin: 1rem 0;
  }

  .c-cta--flex {
    display: flex;
    align-items: center;
  }

  .c-cta__card-button {
    display: block;
    width: 30%;
    margin: 2rem auto 0 auto;
  }

  /* ======== Favorite Website - Desktop ======== */
  .c-favorite-website__content {
    text-align: left;
    max-width: 70%;
  }

  /* ======== Contact Form section - Desktop ======== */
  .c-contact h2 {
    margin: 2rem 0;
  }

  .c-contact__form {
    border-radius: 0;
    box-shadow: none;
    text-align: center;
  }

  .c-contact__image {
    width: 50%;
  }

  .c-form__group input[type="text"],
  .c-contact__form input[type="email"],
  .c-form__group textarea {
    width: 70%;
  }

  /* ======== Footer section - Desktop ======== */
  .site-footer img {
    max-width: 100px;
    max-height: 100px;
  }
}