/* Root color definitions */
:root {
  /* primary, secondary, and accent colors */
  --clr-primary-text: #404040;
  --clr-primary-bg: #F5F5F5;
  --clr-accent: #941600;
  --clr-secondary-bg: #FFFFFF;
  --clr-secondary-text: #2C6330;
  --clr-additional-accent: #13575D;

  /* Font families */
  --font-family-heading: 'Playfair Display', serif;
  --font-family-body: 'Roboto', sans-serif;

  /* Font sizes */
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-body: 16px;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Letter spacings */
  --letter-spacing-heading: 2px;
  --letter-spacing-body: 1px;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}

/* Utility Classes for Font Family */
.u-font-family-heading {
  font-family: var(--font-family-heading);
}

.u-font-family-body {
  font-family: var(--font-family-body);
}

/* Utility Classes for Font Size */
.u-font-size-h1 {
  font-size: var(--font-size-h1);
}

.u-font-size-h2 {
  font-size: var(--font-size-h2);
}

.u-font-size-h3 {
  font-size: var(--font-size-h3);
}

.u-font-size-body {
  font-size: var(--font-size-body);
}

/* Utility Classes for Font Weight */
.u-font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.u-font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.u-font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.u-font-weight-regular {
  font-weight: var(--font-weight-regular);
}

/* Utility Classes for Colors */
.u-bg-primary {
  background-color: var(--clr-primary-bg);
}

.u-bg-secondary {
  background-color: var(--clr-secondary-bg);
}

.u-text-accent {
  color: var(--clr-accent);
}

.u-text-additional-accent {
  color: var(--clr-additional-accent);
}

/* Utility Classes for Letter Spacing */
.u-letter-spacing-heading {
  letter-spacing: var(--letter-spacing-heading);
}

.u-letter-spacing-body {
  letter-spacing: var(--letter-spacing-body);
}

/* utility class to remove underline from links */
.u-link--none-underline {
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {

  /* Utility Classes for Margin */
  .u-margin-1 {
    margin: 1rem;
  }

  .u-margin-4 {
    margin: 4rem;
  }

  /* Utility Classes for Padding */
  .u-padding-1 {
    padding: 1rem;
  }

  .u-padding-4 {
    padding: 4rem;
  }
}