/* Root color definitions */
:root {
  --clr-primary-text: #404040;
  --clr-primary-bg: #F5F5F5;
  --clr-accent: #005C4E;
  --clr-secondary-bg: #FFFFFF;
  --clr-secondary-text: #2C6330;
  --clr-additional-accent: #13575D;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove padding from lists */
ul,
ol {
  padding: 0;
}